body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* CUSTOM STYLING */

/* _Layout */

.logo {
    font-family: "Coda";
    font-size: 1.8em;
    font-weight: bold;
}

.logo > a {
    color: #ddd;
    text-decoration: none;
    transition-duration: 0.5s;
}

.logo > a:hover {
    color: #fff;
    transition: ease;
    text-decoration: none;
    transition-duration: 0.5s;
}

.page-content {
    padding: 20px;
    margin: 10px auto;
}

.page-heading {
    color: #e9e8e7;
}

.splash {
    background-image: url("/images/background/inventory.jpg");
    background-repeat: no-repeat;
    min-height: 200px;
}

.card-icon {
    color: #777;
    font-size: 40px;
    padding: 24px;
    -webkit-border-radius: 1100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
    vertical-align: middle;
    width: 60px;
    height: 60px;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.icon-wrapper {
    display: table-cell;
}

.demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
}

.demo-card-square > .mdl-card__title {
    color: #fff;
}

/* Home */

.homeLabel {
    background-color: rgba(0,0,0,0.3);
    padding: 4px;
}

#inventory {
    background-image: url('/images/background/bookshelf.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

#customers {
    background-image: url('/images/background/customer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

#libraries {
    background-image: url('/images/background/library.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

/* Inventory/Index */

#comics {
    margin: 0 auto;
}

#inventoryIndexTable {
    font-size: 1.3em;
}

#inventoryIndexTable td {
    vertical-align: middle;
}

#inventoryIndexTable tr:hover {
    background-color: #eee;
}

.imageCell {
    width: 128px;
    padding: 10px;
}

/* Inventory/Detail */

#itemTitle {
    font-size: 2.3em;
}

#itemPublisher {
    font-size: 1.6em;
}

#itemEditor {
    font-size: 1.6em;
}

#itemStatus {
    font-weight: bold;
    font-size: 1.3em;
}

#itemIssue {
    font-size: 1.6em;
    color: #888;
}

.itemLabel {
    font-weight: bold;
}

.itemValue {
    text-align: right;
    font-size: 0.8em;
}

.availability {
    padding-top: 20px;
    font-size: 1.2em;
}

.detailImage {
    width: 200px;
    padding-bottom: 6px;
}

.detailInfo {
    padding: 10px;
    font-size: 1.3em;
    color: #555;
}

.detailHeading {
    padding: 10px;
}

/* Customer/Index */

.customTable td {
    text-align: left;
    font-size: 1.2em;
}

.customTable th {
    text-align: left;
    color: black;
    font-size: 1.3em;
}

.strongTd {
    font-weight: bold;
}

/* Customer/Detail */

#customerHasFees {
    color: #c62222;
    font-weight: bold;
}

#customerNoFees {
    color: #2f6fc7;
    font-weight: bold;
}

/* Library/Detail */

.libraryInfo {
    padding-top: 30px;
}

#libraryDescription {
    width: 500px;
    padding: 18px 0 12px 4px;
}

.libraryContact {
    padding: 12px 0 16px 0;
    font-size: 1.2em;
}
